html,body {
  height: 100%;
}
body {
  background: url(../img/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#container {
  min-height:100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(184,253,64,0.6)), color-stop(100%, rgba(246,110,121,0.6)));
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(184,253,64,0.6)), to(rgba(246,110,121,0.6)));
  background: -webkit-linear-gradient(right bottom, rgba(184,253,64,0.6) 0%, rgba(246,110,121,0.6) 100%);
  background: linear-gradient(to right bottom, rgba(184,253,64,0.6) 0%, rgba(246,110,121,0.6) 100%);
  -webkit-animation: huerotate 4s infinite alternate;
  animation: huerotator 4s infinite alternate;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8fd40', endColorstr='#f66e79', GradientType=0);
}
@-webkit-keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

#main {
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-210px;
  margin-top:-22px;
}

@media screen and (max-width:767px){
	#main {
		margin-left:-140px;
		margin-top:-15px;
	}
}

#main p {
  color: #FFF;
  font-size: 30px;
}

@media screen and (max-width:767px){
	#main p {
		font-size: 20px;
	}
}
